# SPDX-License-Identifier: GPL-2.0-only

config PID_IN_CONTEXTIDR
	bool "Write the current PID to the CONTEXTIDR register"
	help
	  Enabling this option causes the kernel to write the current PID to
	  the CONTEXTIDR register, at the expense of some additional
	  instructions during context switch. Say Y here only if you are
	  planning to use hardware trace tools with this kernel.

config DEBUG_EFI
	depends on EFI && DEBUG_INFO
	bool "UEFI debugging"
	help
	  Enable this option to include EFI specific debugging features into
	  the kernel that are only useful when using a debug build of the
	  UEFI firmware

config ARM64_RELOC_TEST
	depends on m
	tristate "Relocation testing module"

choice
    prompt "Choose kernel unwinder"
    default UNWINDER_FRAME_POINTER
    help
      This determines which method will be used for unwinding kernel stack
      traces for panics, oopses, bugs, warnings, perf, /proc/<pid>/stack,
      livepatch, lockdep, and more.

config UNWINDER_FRAME_POINTER
    bool "Frame pointer unwinder"
    select FRAME_POINTER
    help
      This option enables the frame pointer unwinder for unwinding kernel
      stack traces.

      The unwinder itself is fast and it uses less RAM than the ORC
      unwinder, but the kernel text size will grow by ~3% and the kernel's
      overall performance will degrade by roughly 5-10%.

endchoice

source "drivers/hwtracing/coresight/Kconfig"
